body{
    background-color: rgb(30, 30, 47);
}

h1{
    color: rgb(201, 197, 228);
}

.using-div{
    text-align: center;
}

table{
    font-size: 200%;
    margin-left: auto;
    margin-right: auto;

}


.a{
    background-color: rgb(180, 146, 211);
}

.b{
    background-color: rgb(211, 159, 146);
}

.c{
    background-color: rgb(146, 176, 211);
}

.d{
    background-color: rgb(172, 214, 183);
}

.e{
    background-color: rgb(255, 210, 249);
}

.f{
    background-color: rgb(249, 250, 178);
}

.g{
    background-color: rgb(215, 221, 240);
}